body {
  background-color: rgb(41, 41, 41);
 text-align: center;  
}
.movie-card {
  border: black 1px solid;
  border-radius: 20px;
  width: 25%;
  margin: 20px;
background-color: rgb(78, 78, 78);
}
form{
  border: black 1px solid;
  width: 60%;
  margin: 100px;
}
.App{
  display: flex ;
  flex-wrap: wrap;
}
.shearch{
  width: 10%;
  margin: 20px;
}